body
{
    font-family: 'Trebuchet MS', sans-serif;
    color: #bfc9cb;
    background: #282c34;
	margin-left: 200px;
	margin-right: 200px;
    letter-spacing: 1px;
}

header, footer
{
    margin-top: 50px;
	margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
	text-align: center;
    color: #ace0af;
    background:#282c34
}

h1 
{
    font-family: 'Roboto', serif;
    font-size: 32;
    color: #ace0af;
    background:#282c34
}

h2 
{
    font-family: 'Roboto', serif;
    font-size: 24;
    color: #ace0af;
    background:#282c34
}

h3 
{
    font-family: 'Roboto', sans-serif;
    color: #ace0af;
    background:#282c34
}

h4 
{
    font-family: 'Roboto', sans-serif;
    font-size: 18;
    color: #ace0af;
    background:#282c34;
    text-align: center
}

a {
	text-decoration: none;
	color: #48f3ae;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #ace0af;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

table, td, tr
{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

th
{
	background-color: #000000;
	color: #d7f1e5;
}

table tr:nth-child(even)
{
	background-color: #384e45;
	color: #fff;
}

.formformat
{
	margin-left: 200px;
	margin-right: 200px;
	background-color: #282c35;
}