body
{
    font-family: 'Trebuchet MS', sans-serif;
    color: #bfc9cb;
    background:#252d35;
	margin-left: 200px;
	margin-right: 200px;
}

header, footer
{
    font-family: 'Impact', serif;
    font-weight: 200;
	text-align: center;
    color: #ace0af;
    background:#252d35
}

h1 
{
    font-family: 'Impact', serif;
    font-weight: 100;
    font-size: 32;
    color: #ace0af;
    background:#252d35
}

h2 
{
    font-family: 'Impact', serif;
    font-weight: 100;
    font-size: 24;
    color: #ace0af;
    background:#252d35
}

h3 
{
    font-family: 'Impact', sans-serif;
    font-weight: 100;
    color: #ace0af;
    background:#252d35
}

h4 
{
    font-family: 'Impact', sans-serif;
    font-weight: 100;
    font-size: 18;
    color: #ace0af;
    background:#252d35;
    text-align: center
}

a {
	text-decoration: none;
	color: #48f3ae;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #ace0af;
}
