/* https://coolors.co/006d77-83c5be-edf6f9-ffddd2-e29578 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body
{
    font-family: 'Trebuchet MS', sans-serif;
    color: #006D77;
    background: #EDF6F9;
	margin-left: 200px;
	margin-right: 200px;
    letter-spacing: 1px;
}

header, footer
{
    margin-top: 50px;
	margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;
    color: #006D77;
    background:#EDF6F9
}

h1 
{
    font-family: 'Ubuntu', serif;
    font-size: 32px;
    color: #006D77;
    background:#EDF6F9
}

h2 
{
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #006D77;
    background:#EDF6F9
}

h3 
{
    font-family: 'Ubuntu', sans-serif;
    color: #006D77;
    background:#EDF6F9
}

h4 
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #006D77;
    background:#EDF6F9;
    text-align: center
}

a {
	text-decoration: none;
	color: #83C5BE;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #ace0af;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}


.button
{
	background-color: #83C5BE;
	border: 4px solid #006D77;
	border-radius: 2px;
	font-size: 30px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
 
.column {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
  }